.logo {
	padding-right: 20px;
	margin-right: 40px;

	& > div {
		width: 64px;
		height: 34px;
		border-radius: 100px;
		display: block;
		position: relative;
	}
}

.up {
	background-color: var(--secondary);
	z-index: 2;
}

.down {
	background-color: var(--lightBlue);
	z-index: 1;
	margin-left: 25px;
	margin-top: -20px;
}
