@keyframes swing-a {
	0% {
		transform: translateX(0);
	}

	40% {
		transform: translateX(-4px);
	}

	60% {
		transform: translateX(-4px);
	}

	100% {
		transform: translateX(0);
	}
}

@keyframes swing-b {
	0% {
		transform: translateX(0);
	}

	20% {
		transform: translateX(0);
	}

	60% {
		transform: translateX(-4px);
	}

	80% {
		transform: translateX(-4px);
	}

	100% {
		transform: translateX(0);
	}
}

.up {
	background-color: var(--secondary);
	z-index: 2;
}

.down {
	background-color: var(--lightBlue);
	z-index: 1;
	margin-left: 25px;
	margin-top: -20px;
}

.logo {
	padding-right: 20px;
	margin-right: 40px;

	& > div {
		display: block;
		width: 64px;
		height: 34px;
		border-radius: 100px;
		position: relative;
	}

	&.animate {
		& > div {
			animation-duration: 3s;
			animation-iteration-count: infinite;
		}

		& > .up {
			animation-name: swing-a;
		}

		& > .down {
			animation-name: swing-b;
		}
	}
}
