.subtitle {
	font-family: var(--fontNarrow);
	font-size: 16px;
	font-weight: 300;
	line-height: 1.2;
	text-transform: uppercase;
	margin-bottom: 20px;

	&:before,
	&:after {
		font-weight: 400;
	}

	&:before {
		content: '/* ';
	}

	&:after {
		content: ' */';
	}
}
