.header {
	display: flex;
	align-items: center;
	margin-top: -20px;

	& .logo {
		margin-right: 60px;
	}
}

@media (--phone) {
	.header {
		flex-direction: column;

		& .logo {
			margin-right: 0;
			margin-bottom: 30px;
		}
	}
}
