.section {
	padding: 90px 0;

	& > div {
		width: 1140px;
		margin: 0 auto;
	}
}

@media (--mobile) {
	.section {
		& > div {
			max-width: 100%;
			width: auto;
			margin-right: 40px;
			margin-left: 40px;
		}
	}
}

@media (--phone) {
	.section {
		padding: 60px 0;

		& > div {
			margin-right: 30px;
			margin-left: 30px;
		}
	}
}
