.button {
	display: inline-block;
	background: var(--mediumBlue);
	font-family: var(--fontNarrow);
	border: none;
	color: white;
	padding: 8px 20px;
	font-size: 20px;
	font-weight: 500;
	line-height: 1;
	border-radius: 100px;
	text-decoration: none;
	box-shadow: #dedede 0 1px 3px;
	transition: background 0.1s;

	&:hover {
		background: var(--acent);
	}
}
