.about {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    color: var(--mediumBlue);
}

.aside {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & > div {

    }
}

.intro {
    flex: 2;
    font-size: 20px;

    & > p {
        letter-spacing: 1px;
        margin-top: 0;
        margin-bottom: 40px;
        line-height: 1.5;
    }
}

.title {
}

.contact {
	font-family: var(--fontNarrow);
    margin-bottom: 30px;
    line-height: 1.8;
}

.icon-links {
    display: flex;

    & > * {
        margin-right: 20px;
    }
}
