.section {
    background-color: var(--mediumBlue);
}

.sideProject {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: -60px;

    & > * {
        min-width: 360px;
        width: 31%;
        margin-bottom: 90px;
    }
}

.title {
    color: var(--lightBlue);
}

.dots {
    margin-top: 20px;
}
